/config
**/config
/metadata
**/metadata
**/library
/library
**/ts-*
/ts-*
**/seafile-mysql
/seafile-mysql
**/postgres
/postgres
**/prowlarr
/prowlarr
**/radarr
/radarr
**/sonarr
/sonarr
**/readarr
/readarr
**/lidarr
*mount-syn-volumes*
hwaccel.*
**/.env
.env
.DS_Store